@import '../servers/mixin';

.container {
    @include container;

    .block_info{
        @include block_info;

        .header{
            @include header;

            @media (max-width: 400px) {
                span{
                    font-size: 14px;
                }
            }

            @media (max-width: 350px) {
                span{
                    font-size: 13px;
                }
            }
        }

        .container_checkbox{
            display: block;
            width: 100%;
            
            .container_variants{
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: auto;

                padding: 18px 18px 18px 8px;
                margin-bottom: 12px;

                border: 2px solid #0000002d;
                border-radius: 10px;

                cursor: pointer;

                transition-property: border;
                transition-duration: .2s;

                &:hover{
                    border: 2px solid #4e3bb6;
                }

                .global_checkbox_inform{
                    display: flex;
                    align-items: center;

                    .inform_variants{
                        display: block;
                        margin-left: 6px;

                        p {@include header_local;}
                        span {@include ps_price_local;}

                        @media (max-width: 375px) {
                            p{
                                font-size: 14px;
                            }
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }

                .price{
                    font-size: 16px;
                    font-weight: 500;
                    color: #4138bd;
                }
            }
        }

        .container_button{
            display: flex;
            justify-content: space-between;
            align-items: end;
            width: 100%;
            height: 140px;

            .button_back{
                @include button_back;
            }

            .button_next{
                @include button;
            }

            @media (max-width: 900px) {
                display: none;
            }
        }
    }
}

.container_button_mobile{
    @include container_button_mobile;
}